body{
    background-color: #F0ECEA;
}
  
.home-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .home-home {
    width: 100%;
    height: 1024px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 1);
  }

  .home-text {
    top: 599px;
    left: 118px;
    color: rgba(0, 0, 0, 0.6000000238418579);
    width: 643px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Medium;
    text-align: left;
    font-family: Raleway;
    font-weight: 500;
    line-height: 22px;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-frame14 {
    gap: 12px;
    top: 686px;
    left: 117px;
    width: 210px;
    height: 52px;
    display: flex;
    padding: 16px 54px;
    overflow: hidden;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    border-radius: 62px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 1);
  }
  .home-text02 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 16px;
    font-style: Medium;
    text-align: left;
    font-family: Raleway;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-group1 {
    top: 20px;
    left: 82px;
    width: 1271px;
    height: 104px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .home-logowebsite1 {
    top: 0px;
    left: 0px;
    width: 140px;
    height: 104px;
    position: absolute;
  }
  .home-frame3 {
    gap: 10px;
    top: 28px;
    left: 953px;
    display: flex;
    padding: 13px 24px;
    position: absolute;
    align-items: flex-start;
    border-radius: 12px;
    background-color: rgba(172, 163, 148, 1);
  }
  .home-text04 {
    color: rgba(0, 0, 0, 1);
    top: 41px;
    left: 855px;
    height: auto;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Raleway;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
    position: absolute;
  }
  .home-text06 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 20px;
    font-style: SemiBold;
    text-align: left;
    font-family: Raleway;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-text08 {
    top: 41px;
    left: 1089px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Raleway;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-text10 {
    top: 41px;
    left: 1182px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Raleway;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-text12 {
    top: 458px;
    left: 113px;
    color: rgba(0, 0, 0, 1);
    width: 674px;
    height: auto;
    position: absolute;
    font-size: 64px;
    font-style: Black;
    text-align: left;
    font-family: Raleway;
    font-weight: 900;
    line-height: 64px;
    font-stretch: normal;
    text-decoration: none;
  }

  .catalog .overlap {
    position: absolute;
    width:100%;
    height: 100%;
    top: 133px;
    left: 0;
    background-color: #F0ECEA;
  }
  
  .catalog .frame-2 {
    position: absolute;
    width: 1440px;
    height: 891px;
    top: 0;
    left: 0;
    background-color: #f0ecea;
    overflow: hidden;
    overflow-y: scroll;
  }

  .catalog .frame-3 {
    display: flex;
    width: 504px;
    align-items: flex-start;
    gap: 12px;
    padding: 12px 16px;
    position: absolute;
    top: 35px;
    left: 851px;
    background-color: #ffffff;
    border-radius: 62px;
    overflow: hidden;
  }
  
  .catalog .frame-4 {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .catalog .text-wrapper-6 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Raleway-Regular", Helvetica;
    font-weight: 400;
    color: #00000066;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
