*{
  margin: 0;
  padding: 0;
}

.home-container{
  background-color: #f0ecea;
  min-height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.navbar-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  margin: auto;
  width: 100%;
}

.logo img {
  margin-top: 20px;
  padding-left: 50px;
  top: 20px;
  left: 82px;
}

.navbar-container>.menu {
  margin-left: auto;
  padding-left: 65px;
  padding-right: 5%;
  float: right;
  width: 38%;
  display: flex;
  gap: 40px;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  justify-content: flex-end;
  align-items: center;
}

.navbar-container>.menu>a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  text-shadow: #555;
}

.menu a.active {
  background-color: rgba(172, 163, 148, 1);
  color: white;
  font-weight: bold;
  padding: 20px;
  border-radius: 12px;
}

.catalog-content {
  padding: 6rem 2rem;    
}

.search-box{
  position: absolute;
  top: 150px;
  left: 851px;
}

.search {
  position: relative;
}

.search input {
  width: 450px;
  height: 50px;
  background-color: #f0ecea;
  color: #00000066;
  border: solid;
  padding-left: 45px;
  border-radius: 62px;
  font-family: "Raleway-Regular", Helvetica;
  font-weight: 400;
  font-size: 20px;
}

.search .icon-search {
  position: absolute;
  margin-left: 17px;
  margin-top: 17px;
  color: #4f5b66;
}

.product-catalog {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: repeat(2, auto); 
  gap:2rem;
}

.product-catalog .product {
  text-align: center;
  padding:3rem 2rem;
  background: #fff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  outline: .1rem solid #ccc;
  outline-offset: -1.5rem;
  cursor: pointer;
}

.product-catalog .product:hover {
  outline: .2rem solid #222;
  outline-offset: 0;
}

.product-catalog .product:hover img {
  transform: scale(.9);
}

.product-catalog .product p {
  padding:.5rem 0;
  font-weight: 400;
  color:#444;
  font-family: "Inter-Regular", Helvetica;
}

.product-catalog .product:hover p {
  color:red;
}

/* For smartphone*/
@media screen and (max-width: 770px) {
  .navbar-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 244px;
    z-index: 2;
  }
  

  .logo img {
    margin-top: 20px;
    justify-content: center;
    align-items: center;

  }
  .navbar-container> .menu{
    display: flex;
    gap: 40px;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Raleway;
    font-weight: 400;
    justify-content: flex-end;
    align-items: center;
    margin: auto;
    padding-right: auto;
    width: auto;
  }

  .menu a.active {
    padding: 10px;
  }
}