*{
  margin: 0;
  padding: 0;
}

.home-container{
  background-color: #f0ecea;
  min-height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.navbar-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  margin: auto;
  width: 100%;
}

.logo img {
  margin-top: 20px;
  padding-left: 50px;
  top: 20px;
  left: 82px;
}

.navbar-container>.menu {
  margin-left: auto;
  padding-left: 65px;
  padding-right: 5%;
  float: right;
  width: 38%;
  display: flex;
  gap: 40px;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  justify-content: flex-end;
  align-items: center;
}

.navbar-container>.menu>a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  text-shadow: #555;
}

.menu a.active {
  background-color: rgba(172, 163, 148, 1);
  color: white;
  font-weight: bold;
  padding: 20px;
  border-radius: 12px;
}

.catalog-content {
  padding: 6rem 2rem;    
}

.search-box{
  position: absolute;
  top: 150px;
  left: 851px;
}

.search {
  position: relative;
}

.search input {
  width: 450px;
  height: 50px;
  background-color: #f0ecea;
  color: #00000066;
  border: solid;
  padding-left: 45px;
  border-radius: 62px;
  font-family: "Raleway-Regular", Helvetica;
  font-weight: 400;
  font-size: 20px;
}

.search .icon-search {
  position: absolute;
  margin-left: 17px;
  margin-top: 17px;
  color: #4f5b66;
}

.product-catalog {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: repeat(2, auto); 
  gap:2rem;
}

.product-catalog .product {
  text-align: center;
  padding:3rem 2rem;
  background: #fff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  outline: .1rem solid #ccc;
  outline-offset: -1.5rem;
  cursor: pointer;
}

.product-catalog .product:hover {
  outline: .2rem solid #222;
  outline-offset: 0;
}

.product-catalog .product:hover img {
  transform: scale(.9);
}

.product-catalog .product p {
  padding:.5rem 0;
  font-weight: 400;
  color:#444;
  font-family: "Inter-Regular", Helvetica;
}

.product-catalog .product:hover p {
  color:red;
}

.product-catalog .product .price{
  font-weight: 400;
  color:#444;
  font-family: "Inter-Regular", Helvetica;
}

.products-preview{
  position: fixed;
  top:0; left:0;
  min-height: 100vh;
  width: 100%;
  background: rgba(0,0,0,.8);
  display: none;
  align-items: center;
  justify-content: center;
}

.product-preview .preview{
  display: none;
  padding:2rem;
  text-align: center;
  background: #fff;
  position: relative;
  margin:2rem;
  width: 40rem;
}

.product-preview .preview.active{
  display: inline-block;
}

.product-preview .preview img{
  height: 30rem;
}

.product-preview .preview .fa-times{
  position: absolute;
  top:1rem; right:1.5rem;
  cursor: pointer;
  color:#444;
  font-size: 4rem;
}

.product-preview .preview .fa-times:hover{
  transform: rotate(90deg);
}

.product-preview .preview h3{
  color:#444;
  padding:.5rem 0;
  font-size: 2.5rem;
}

.product-preview .preview .star{
  padding:1rem 0;
  font-size: 1.7rem;
}

.product-preview .preview .star i{
  color:#27ae60;
}

.product-preview .preview .star span{
  color:#999;
}

.product-preview .preview p{
  line-height: 1.5;
  padding:1rem 0;
  font-size: 1.6rem;
  color:#777;
}

.product-preview .preview .price{
  padding:1rem 0;
  font-size: 2.5rem;
  color:#27ae60;
}

.product-preview .preview .buttons{
  display: flex;
  gap:1.5rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.product-preview .preview .buttons a{
  flex:1 1 16rem;
  padding:1rem;
  font-size: 1.8rem;
  color:#444;
  border:.1rem solid #444;
}

.product-preview .preview .buttons a.cart{
  background: #444;
  color:#fff;
}

.product-preview .preview .buttons a.cart:hover{
  background: #111;
}

.product-preview .preview .buttons a.buy:hover{
  background: #444;
  color:#fff;
}

/* For smartphone*/
@media screen and (max-width: 770px) {
  .navbar-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 244px;
    z-index: 2;
  }
  

  .logo img {
    margin-top: 20px;
    justify-content: center;
    align-items: center;

  }
  .navbar-container> .menu{
    display: flex;
    gap: 40px;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Raleway;
    font-weight: 400;
    justify-content: flex-end;
    align-items: center;
    margin: auto;
    padding-right: auto;
    width: auto;
  }

  .menu a.active {
    padding: 10px;
  }
}