body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; 
  background-color: #f0ecea;
  min-height: 100vh;
  /* position: fixed; */
  /* top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow-y: scroll;
  overflow-x: scroll;
  font-family: Raleway;
}

* {
  box-sizing: border-box;
}

.navbar-container{
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  margin: auto;
  width: 100%;
}

.logo img{
  margin-top: 20px;
  padding-left: 50px;
  top: 20px;
  left: 82px;
}

.navbar-container>.menu {
  margin-left: auto;
  padding-left: 65px;
  padding-right: 5%;
  float: right;
  width: 38%;
  display: flex;
  gap: 40px;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  justify-content: flex-end;
  align-items: center;
}

.navbar-container>.menu>a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  text-shadow: #555;
}

.menu a.active {
  background-color: rgba(172, 163, 148, 1);
  color: white;
  font-weight: bold;
  padding: 20px;
  border-radius: 12px;
}

.required:after {
  content:" *";
  color: red;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-40 {
  -ms-flex: 40%; 
  flex: 40%;
}

.col-60 {
  -ms-flex: 60%; 
  flex: 60%;
}

.col-40,
.col-60 {
  padding: 0 16px;
}

.personal-info{
  background-color: #ffffff;
  padding: 5px 20px 15px 20px;
  border: 0.5px solid;
  border-radius: 3px;
  margin-left: 75px;
  margin-right: 20px;
  margin-bottom: 30px;
  margin-top: 100px;
}

.ordering-product{
  background-color: #f0ecea;
  background-size: 100% 100%;
  box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.5);
  padding: 5px 20px 15px 20px;
  border-radius: 3px;
  margin-right: 75px;
  margin-left: 20px;
  margin-top: 100px;

}

.col-md-6, 
.col-md-4,
.col-md-12{
  margin-bottom: 20px;
  padding: 12px;
}

.title {
  font-family: "Raleway-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: 64px;
  /* background-color: #ffffff; */
  /* box-shadow: -1px 0px 0px #d3d3da, 1px 0px 0px #d3d3da, inset 0px 1px 0px #d3d3da, inset 0px -1px 0px #d3d3da; */
  padding-bottom: 30px;
}

.personal-info .title {
  font-size: 40px;
  letter-spacing: 0;
  line-height: 24px;
}

.select-product-ordered {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid;
  border-color: var(--grey-300);
  box-shadow: 0px 0px 4px #17191c0d;
  margin-top: 5px;
  margin-bottom: 20px;
}

.button{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  border-radius: 62px;
  font-size: 25px;
  font-weight: semibold;
  color: #ffffff;
  cursor: pointer;
  font-family: Raleway;
}

.button:hover {
  background-color: grey;
}

@media screen and (max-width: 770px) {

  .navbar-container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 244px;
      z-index: 2;
    }
  
    .logo img {
      margin-top: 20px;
      justify-content: center;
      align-items: center;
  
    }
    .navbar-container> .menu{
      display: flex;
      gap: 40px;
      font-size: 20px;
      font-style: Regular;
      text-align: left;
      font-family: Raleway;
      font-weight: 400;
      justify-content: flex-end;
      align-items: center;
      margin: auto;
      padding-right: auto;
      width: auto;
    }
  
    .menu a.active {
      padding: 10px;
    }

  .ordering-product {
      margin: 95px 10px 30px;
  }
  
  .row {
      flex-direction: column;
  }
  
  .personal-info,
  .ordering-product {
      width: 100%;
      margin: 10px 0;
      margin-top: 40px;
  }
  
  .col-40 {
      margin-bottom: 20px;
  }
}